@{
    ViewBag.Title = "About";
}

<hr />

<div class="row">
    <div class="container">
        <p>Highly motivated, self-starting developer seeking to launch a career building web applications and services. </p>
        <p>Familiar with development and deploymenr process for many web-based technologies</p>
    </div>
</div>
